---
interface Props {
  href: string;
  "new-tab"?: boolean;
}

const { href, "new-tab": newTab } = Astro.props;
---

<a
  href={href}
  target={newTab ? "_blank" : undefined}
  rel={newTab ? "noopener noreferrer" : undefined}
  class="hover:underline"
>
  <slot />
</a>
