---
interface Props {
  path: string;
}

const { path } = Astro.props;
const { pathname } = Astro.url;
---

<a
  href={path}
  class=`${pathname == path ? "text-department" : ""} hover:underline`
>
  <slot />
</a>
