---
import PageLink from "./PageLink.astro";
import Link from "./Link.astro";
import { data } from "../config";
---

<nav class="flex flex-col space-y-8 p-4 bg-gray-100 w-64 h-dvh text-lg">
  <div>
    <h1 class="text-red-600 font-bold">{data.code}</h1>
    <h2>{data.title.flatMap((line: string, index: number) => {
      if (index < data.title.length - 1) {
        return [line, <br/>];
      } else {
        return line;
      }
    })}</h2>
  </div>
  <div class="flex flex-col text-neutral-500">
    <PageLink path="/">Po훾etna</PageLink>
    <PageLink path="/predavanja">Predavanja</PageLink>
    <PageLink path="/teorijske">Teorijske ve탑be</PageLink>
    <PageLink path="/prakticne">Prakti훾ne ve탑be</PageLink>
  </div>
  <div class="flex flex-col text-neutral-500">
    <Link href={data.syllabus} new-tab>Moodle</Link>
    <PageLink path="/plan">Plan rada</PageLink>
    <PageLink path="/osoblje">Osoblje</PageLink>
    <PageLink path="/pravila">Pravila polaganja</PageLink>
    <PageLink path="/resursi">Resursi</PageLink>
  </div>
</nav>
