---
import { getCollection } from "astro:content";
import Person from "./Person.astro";

const staffLecture = await getCollection("staff", (person) =>
  (person.data.group as string[]).includes("p"),
);
const staffTheoretical = await getCollection("staff", (person) =>
  (person.data.group as string[]).includes("tv"),
);
const staffPractical = await getCollection("staff", (person) =>
  (person.data.group as string[]).includes("pv"),
);
---

{
  staffLecture.length > 0 ? (
    <>
      <h3 id="predavanja">Predavanja</h3>
      <div class="flex flex-col space-y-8">
        {staffLecture
          .sort((a, b) => a.data.order - b.data.order)
          .map((person) => (
            <Person {...person.data} />
          ))}
      </div>
    </>
  ) : undefined
}

{
  staffTheoretical.length > 0 ? (
    <>
      <h3 id="teorijske-vezbe">Teorijske vežbe</h3>
      <div class="flex flex-col space-y-8">
        {staffTheoretical
          .sort((a, b) => a.data.order - b.data.order)
          .map((person) => (
            <Person {...person.data} />
          ))}
      </div>
    </>
  ) : undefined
}

{
  staffPractical.length > 0 ? (
    <>
      <h3 id="prakticne-vezbe">Praktične vežbe</h3>
      <div class="flex flex-col space-y-8">
        {staffPractical
          .sort((a, b) => a.data.order - b.data.order)
          .map((person) => (
            <Person {...person.data} />
          ))}
      </div>
    </>
  ) : undefined
}
