---
import "../styles/base.css";
import Sidebar from "../components/Sidebar.astro";
import { data } from "../config";

interface Props {
  title: string;
  frontmatter: {
    title: string;
  };
}

const { title } = Astro.props.frontmatter || Astro.props;
const { pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col">
    <Sidebar />
    <div class="p-4 md:p-8 md:pl-[18rem]">
      <h1 class="text-department text-3xl font-bold">
        {pathname == "/" ? data.title.join(" ") : title}
      </h1>
      <div class="prose mt-8">
        <slot />
      </div>
    </div>
  </body>
</html>
